/* LAYOUT */

.page-content {
    height: 100vh;
    overflow: hidden;
}

.container-fluid {
    height: 100%;
    overflow: hidden;
}

.sidebar-main-content {
    height: 100%;
    overflow: hidden;
}

.toolbar-menu {
    min-height: 50px;
    overflow: hidden;
}

.sidebar {
    width: 70px;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #0A2238;
}

.cards-section {
    height: 100%;
}

.container-boolean {
    min-height: 120px;
}

/* SIDEBAR */

.item {
    text-decoration: none;
    color: white; 
    display: inline-block;
}

.home,
.stats,
.signal,
.admin {
    font-size: 14px;
    display: none;
}


/* MEDIAQUEERY */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sidebar {
        width: 150px;
    }

    .home,
    .stats,
    .signal,
    .admin {
    display: inline-block;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }



/* DEBUG */

.debug [class^='container'],
.debug .sidebar,
.debug .main-content {
    border: 2px solid orange;
    padding: 10px;
    min-height: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 10px;
}

.debug [class^='col'] {
    border: 2px solid violet;
    padding: 10px;
    min-height: 30px;
}