/* LAYOUT */

.page-content {
    height: 100vh;
    overflow: hidden;
}

.main-content {
    height: calc(100vh - 50px);
    overflow: hidden;
}

.toolbar-menu {
    height: 50px;
    overflow: hidden;
    color: white;
}

.sidebar {
    width: 70px;
    height: calc(100vh - 50px);
    flex-shrink: 0;
    overflow: hidden;
    background-color: #0A2238;
}

.navbar-items {
    height: 100%;
}

.cards-section {
    overflow: hidden;

}

.admin {
    margin-top: auto;
}

.mobile-logo {
    width: 50px;
    aspect-ratio: 1;
}

.logo-img {
    display: block;
}

.logo-large {
    display: none;
}


.item {
    text-decoration: none;
    color: white; 
    display: inline-block;
}

.home,
.stats,
.signal,
.admin {
    font-size: 14px;
    display: none;
}

.bg-badge {
    background-color: #165BBA;
}

.arrow {
    font-size: 10px;
}

.boolean-title {
    font-size: 20px;
}

.code-circle {
    width: 30px;
    aspect-ratio: 1;
    line-height: 25px;
    vertical-align: middle;
    background-color: #F26551;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    color: white;
    border-radius: 50%;
}







/* MEDIAQUEERY */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sidebar {
        width: 150px;
    }

    .home,
    .stats,
    .signal,
    .admin {
    display: inline-block;
}

.mobile-logo {
    display: none;
}

.logo-large {
    display: block;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }



/* DEBUG */

.debug [class^='container'],
.debug .sidebar,
.debug .main-content {
    border: 2px solid orange;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^='col'] {
    border: 2px solid violet;
    padding: 10px;
    min-height: 30px;
}

.debug .card {
    border: 2px solid green;
}